<div class="card bg-base-100 w-1/2 mx-auto p-10 mt-10 shadow-xl">
  <h1 class="text-3xl text-red-500 font-bold">{{title}}</h1>
  <!-- <h2>From Signal</h2> -->
  <ul class="list">
    @for (user of accountService.users(); track user.id) {
      <li class="list-row items-center">
        <img class="size-12 rounded-box" src="/user.png" alt="user avatar">
        <div>
          {{user.displayName}}
        </div>
      </li>
    }
  </ul>
</div>

<!-- <ul>
  @for (user of users; track user.id) {
    <li>{{user.displayName}}</li>
  }
</ul> -->
<!-- <button class="btn btn-primary">Click Here</button> -->
